<template id="e50x-dialog">
    <style type="text/css">
        :host h1 {
            color: #555;
            font-size: 2em;
            font-weight: 400;
        }

        :host p {
            margin: 0 auto;
            width: 310px;
            text-align: justify;
        }
    </style>
    <h1>Error Interno del Servidor</h1>
    <p>Estamos teniendo problemas para mostrar la página que solicitaste. Por favor, intenta nuevamenta más tarde.</p>
</template>
<script type="application/javascript">
    (()=>{
        const thisDocument = (document._currentScript || document.currentScript).ownerDocument;
        requirejs(
            ["ComponentsManager"],
            ({register, Utils}) => {
                register({
                    name : "e50x-dialog",
                    load : () => {
                        Utils.emptyDOMNode(document.body);

                        document.body.appendChild(document.createElement("e50x-dialog"));
                    }
                });

                const template = thisDocument.getElementById('e50x-dialog');

                window.customElements.define('e50x-dialog', class extends HTMLElement {
                    constructor() {
                        super();

                        Utils.setupCustomElementFromTemplate(template, this);
                    }
                });
            }
        );
    })();
</script>
