<script type="application/javascript">
(async function () {
    Auth.ensureAuthenticated();
})();
</script>
<input type="text" id="asd" placeholder="url">
<input type="button" value="Ver en consola" id="dsa">
<script type="application/javascript">
$('#dsa').on('click', async function () {
    const url = new URL($('#asd').val().replace(/\.json$/, ''));

    url.pathname += '.json';

    const res = await fetch(new Request(`${url.href}`));
    console.log(res);
    if(res.ok) {
        const response = await res.json();
        console.log(response);
    }
});
</script>